# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# --- PYTHON BACKEND & VIRTUAL ENVIRONMENT ---
backend/venv/
backend/__pycache__/
*.pyc
.env

# Machine learning assets are not added as their size is too large for github
*.pkl
backend/movies.pkl
backend/similarity.pkl